.movie-background{
    background-color:black;
    color:white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.movie-info span{
    padding:8px;
    padding-left:0;
    margin-right:30px;
}

.movie-info-2{
    display:flex;
    margin:10px 0;
    align-items: center;
}
.uye-puan{
    width:30px;
    padding:5px;
}

.fragmani-izle{
    position:absolute;
    bottom: 36px;
    display: block;
    text-align: center;
    background-color:black;
    width:calc(100% - 60px);
    padding:8px;
    box-sizing: border-box;
    cursor: pointer;
}


.aciklama{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

